

body {
    background-image: url("coffeecomputer.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}

p {
    font-family: 'Cardo', serif;
    color: white;
    font-size: 20px;
}


/*----Navigation Bar----*/  

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

/*----Navigation Bar----*/





/*----Welcome Heading----*/


.main {
    padding: 0px 10px;
    font-size: 30px;
    color: white;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    width: 5em;
    height: -10em;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.container {
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 63px;
    text-transform: uppercase;
    margin-top: 50px;
}

.title {
    opacity: .6;
}

/*----Welcome Heading----*/


/*----White Container----*/

.white-container {
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
}




/*----White Container----*/



/*--As a Person--*/

h3 {
    text-align: center;
    margin: 20 0 10px;
}

#quote {
    font-style: italic;
    margin: 0px;
}

.about-paragraph {
        line-height: 200px;
        height: 200px;
        text-align: center;
        margin: 0px 150px 10px;
} 
      
.about-paragraph p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
        color: black;
}



@media screen and (max-width: 415px) {
    p {
        font-size: 10px;
    }
    .navbar a {
        font-size: 8px;
    }
    .about-paragraph {
        margin-bottom: 50px;
    }
    img.sam {
        margin-top: 0px;
    }

    .marquita {
        margin-top: 55px;
    }

    #skills-section {
        text-align: center;
    }

    #contact {
        margin-top: 50px;
    }

    p.center-email {
        margin: 2px;
    }

    .bad-kitty {
        width: 30px;
        height: 140px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 10px;
        border-width: 80%;
    }
    .navbar a {
        font-size: 8px;
}
    .about-paragraph {
        margin-bottom: 100px;
}
    .sam {
        margin-top: 20em;
}
}
@media screen and (max-width: 1024px) {
    p {
        font-size: 10px;
        border-width: 80%;
    }
    .navbar a {
        font-size: 8px;
    }
    .about-paragraph {
            margin-bottom: 100px;
    }
    .sam {
        margin-top: 20em;
}
}


/*--As a Person--*/

/*--Sam Photo--*/
.sam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    width: 10em;
    height: -10em;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

/*--Same Photo--*/


/*--Skills Section--*/

#skills-section {
    margin: auto;
}



.skills-paragraph {
    line-height: 200px;
    height: 200px;
    text-align: center;
    margin: 0px 50px;
}

@media screen and (max-width: 923px) {
    .skills-paragraph {
        font-size: 14px;
    }
}

.skills-paragraph p {
    line-height: 1.5;
    display: flex;
    vertical-align: middle;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 0;
    color: black;
}

@media screen and (max-width: 923px) {
    .skills-paragraph p {
       border: 100%;
    }
}





/*--Skills Section--*/


/*---Contact Section*/

.center-email {
    line-height: 200px;
    height: 200px;
    text-align: center;
    color: black;
}
  
.center-email p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/*---Contact Section---*/

/*---Projects Section---*/

.center-projects {
    text-align: center;
}

.center-projects h4 {
    font-size: 25px;
}

.center-projects p {
    color: black;
}

@media screen and (max-width: 923px) {
    .center-projects h4 {
    font-size: 14px;
    }
}

/*---Projects Section---*/

/*---Footer Container--*/

.bad-kitty {
    float: right;
    background-repeat: no-repeat;
    width: 10em;
    height: -5em;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.kitty-paragraph {
    color: black;
    display: inline-block;
}

footer {
    color: black;
    text-align: center;
    font-family: 'Cardo', serif;
}

.ending {
    color: black;
    position: absolute;
}

/*---Footer Container--*/



